body {
  color: white;
  font-family: helvetica;
  background: no-repeat 100% url("../Images/BgGreen.png");
}

header {
  display: flexbox;
}

form {
  text-align: center;
}

input {
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

select {
  background-color: white;
  color: #4caf50;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #4caf50;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: white;
  color: #4caf50;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #4caf50;
  color: white;
}

.image {
  display: inline-block;
  position: relative;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* Footer styling */

footer {
  background-color: #4CAF50;
  color: #fff;
  padding: 0 10px;
}

footer .row {
  display: flex;
  flex-direction: column;
}

footer .row address {
  padding: 15px 0 5px 5px;
}

.footerSocialLinks ul {
  display: flex;
  list-style: none;
  padding-left: 5px;
}

.footerSocialLinks ul li {
  flex-basis: 40px;
}

.footerSocialLinks ul li a i {
  color: #fff;
  font-size: 1.4rem;
}

.footerLinks {
  display: flex;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap-reverse;
}

.footerLinks li:last-child  {
  border-right: none;
}

.footerLinks li a {
  font-size: 0.8rem;
  width: 100%;
  display: inline-block;
  padding: 2px 5px;
  text-decoration: none;
  color: #fff;
}

.footerLinks li a:hover {
  text-decoration: underline;
}
