
        <h1>Welcome to the home page</h1> 

        <ul>
            <li><a href="/register">Register</a></li> 
            <li><a href="/login">Login</a></li> 
            <li><a href="/logout">Logout</a></li> 
        </ul> 
