<h1>login</h1> 
  
<form action="/login" method="POST"> <!-- note the use of the POST method-->
    <input type="text" name="username"
        placeholder="username"> 
    <input type="password" name="password" 
        placeholder="password"> 
    <button>login</button> 
</form> 
   
<ul>
    <li><a href="/register">Register</a></li> 
    <li><a href="/login">Login</a></li> 
    <li><a href="/logout">Logout</a></li> 
    </ul> 
