<h1> Registration</h1> 
  
<form action="/register" method="POST"> 
    <input type="text" name="username" 
        placeholder="username"> 
    <input type="password" name="password" 
        placeholder="password"> 
    <button>Submit</button> 
</form> 
  
<ul>
    <li><a href="/register">Register</a></li> 
    <li><a href="/login">Login</a></li> 
    <li><a href="/logout">Logout</a></li> 
    </ul> 
