<body background="https://getradiantlife.com/wp-content/uploads/2018/11/secret.jpg">

    <h1>This is a secret page</h1> 
    
    <!--<img  src="https://getradiantlife.com/wp-content/uploads/2018/11/secret.jpg"> -->
      
    
      <ul>
    <li><a href="/register">Register</a></li> 
    <li><a href="/login">Login</a></li> 
    <li><a href="/logout">Logout</a></li> 
    </ul>
    </body>