body {
  background-color: black;
  color: white;
  font-family: helvetica;
}

form {
  text-align: center;
}

input {
  background-color: green;
  color: white;
  border-radius: 5px;
}

select {
  background-color: green;
  color: white;
}
