<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../CSS/styles.css" />
    <link rel="stylesheet" href="../CSS/desktop.css" media="only screen and (min-width: 720px)"/>

    <title>About Us</title>
  </head>

  <body>
    <script language="javascript" src="survey.js"></script>
    <div class="containter">

<%- include('partials/navBar.ejs') %>
<body>
  <header>
    <h1>About Us</h1>
  </header>

<div class="white-container">
  <p> 
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores quisquam, odit iste consequatur tempora rem quae ullam architecto ducimus itaque? Qui ducimus est aut totam, tempora praesentium quos dolorum, eaque voluptatum, vero nulla voluptates debitis eum alias odit officia nobis incidunt vitae repellendus a aliquid. Asperiores, assumenda. Architecto mollitia sint aliquam iste laborum quibusdam distinctio molestias quaerat illum, nemo, ipsa vero quas esse sunt animi cum porro blanditiis illo velit, praesentium explicabo? Assumenda vitae animi sapiente autem alias, dicta vero laborum corporis dignissimos totam hic quam repellat! Accusantium itaque facilis architecto repellat eaque, incidunt recusandae? Consectetur facere perferendis rerum quidem!
  </p>
</div>
      

         
  <%- include('partials/footer.ejs') %>

    <!-- Javascript links -->
    <script src="../main.js"></script>
  </body>
</html>
