<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../CSS/styles.css" />
    <link rel="stylesheet" href="../CSS/desktop.css" media="only screen and (min-width: 720px)"/>

    <title>About Us</title>
  </head>

  <body>
    <script language="javascript" src="survey.js"></script>
    <div class="containter">


<body>
  <header>
    <h1>About Us</h1>
  </header>

  <%- include('partials/navBar.ejs') %>

<div class="white-container">
  <p> 
    Use our selection tool for your Personal Prescription generation. We use a large database of products to search for your best fit. Please Create an account with us to keep update with new products, staff favourites and change your product selection criteria when your needs change. 
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit voluptatem magni enim ut. Nisi earum et amet aliquid dicta veniam maxime distinctio possimus iure. Quam facere enim voluptate optio est.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit voluptatem magni enim ut. Nisi earum et amet aliquid dicta veniam maxime distinctio possimus iure. Quam facere enim voluptate optio est.
  </p>
</div>

<br>
<br>

<img src="images/leaves.jpg">
      

         
  <%- include('partials/footer.ejs') %>

    <!-- Javascript links -->
    <script src="../main.js"></script>
  </body>
</html>
