<!--Admin Page - needs user authorisation so only admin user can access-->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../CSS/styles.css" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <title>Admin</title>
    </head>

    <body>
        <header>
            <h1>Admin Page</h1>
        </header>
        <%- include('partials/navBar.ejs') %>
        <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-3 col-md-6">
                        <div class="d-flex">
                          <div class="wrapper">
                            <h3 class="mb-0 font-weight-semibold">32,451    Visits</h3>
                          </div>
                          <div>
                            <p>

                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                        <div class="d-flex">
                          <div class="wrapper">
                            <h3 class="mb-0 font-weight-semibold">15,236    Impressions</h3>
                          </div>

        <div class=white-container> 
            <h2 id=deleteUserheading>Delete a user</h2>
            <form id=deleteUserForm action="/api/deleteUser" method="POST">
                <label for="deleteUser">User you wish to delete:</label> <br>
                <input type="text" id="deleteUser" name="deleteUser" placeholder="Username"><br>
                <button id = "del-btn" class="btn btn-danger">Delete</button>    
                <button type="submit">Delete</button>
            </form>

        </div>
        <a class="button" href="/logout">Log out</a>
        </div>
    <!-- Javascript links -->
    <script src="../main.js">
    </script>
    </body>
</html>