<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Link to CSS-->
    <link rel="stylesheet" type="text/css" href="../CSS/styles.css" />

    <title>Change Password</title>
  </head>
  <body>
    <header>
      <h1>Change Password</h1>
    </header>

    <%- include('partials/navBar.ejs') %>

    <div class="white-container">
      <h3>Please enter your new password:</h3>
      <form id="reg-form">
        <input
          type="password"
          autocomplete="off"
          id="password"
          placeholder="Password"
        />
        <input type="submit" value="Submit Form" class="button" />
      </form>
    </div>

    <script>
      const form = document.getElementById("reg-form");
      form.addEventListener("submit", registerUser);
      async function registerUser(event) {
        event.preventDefault();
        const password = document.getElementById("password").value;

        const result = await fetch("/api/change-password", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            newpassword: password,
            token: localStorage.getItem("token"),
          }),
        }).then((res) => res.json());

        if (result.status === "ok") {
          // if ok
          alert("Success");
        } else {
          alert(result.error);
        }
      }
    </script>
    <%- include('partials/footer.ejs') %>
    <!-- Javascript links -->
    <script src="../main.js"></script>
  </body>
</html>
