<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../CSS/styles.css" />
    <link rel="stylesheet" type="text/css" href="../CSS/ContactUs.css" />
    <link rel="stylesheet" href="../CSS/desktop.css" media="only screen and (min-width: 720px)"/>

    <title>Contact Us</title>
  </head>

  <body>
    <script language="javascript" src="survey.js"></script>
    <div class="containter">
      <header>
        <h1>Contact Us</h1>
      </header>

      <%- include('partials/navBar.ejs') %>

<div>

  <div class="container">
    <div style="text-align:center">
      <h2>Contact Us</h2>
      <p>Leave us a message:</p>
    </div>
    <div class="row">
      <div class="column">
      </div>
      <div class="column">
        <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          <label for="country">Country</label>
          <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">Europe</option>
            <option value="usa">United Kingdom</option>
            <option value="usa">USA</option>
            
          </select>
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>

  <%- include('partials/footer.ejs') %>
    <!-- Javascript links -->
    <script src="../main.js"></script>
  </body>
</html>
