<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- link to css -->
    <link rel="stylesheet" href="../CSS/styles.css" />
    

    <!-- link to JS -->
    <script language="javascript" src="../main.js"></script>

    <!-- meta data -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />


    <title>Error</title>
  </head>


  <body>
    <script language="javascript" src="survey.js"></script>
    <div class="containter">
      <header>
        <h1 class="title-container">Error</h1>
      </header>

      <%- include('partials/navBar.ejs') %>
      <body>

      <div class="white-container">
        <div>
     <h3> Sorry! Something Seems to Have Gone Wrong</h3>
     <a href="http://localhost:3000/ContactUsTutorial" class="text-success">Try Again to Contact Us</a>
   </div>
  </div>
      
        
      

    <!-- Footer -->
    <%- include('partials/footer.ejs') %>
 <!-- Javascript links -->
 <script src="../index.js"></script>
    <script src="../main.js"></script>
  </body>
</html>