<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script language="javascript" src="survey.js"></script>
    <link rel="stylesheet" href="../CSS/styles.css" />

    <!-- Spinner -->
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <title>Make Up</title>
  </head>
  <header><h1>Make Up</h1></header>
  <body>
    <script language="javascript" src="../survey.js"></script>

    <%- include('partials/navBar.ejs') %>

    <div class="white-container">
      <form
        id="makeupIngredients"
        action="/makeUpResults"
        method="GET"
        required="required"
      >
        <label id="questionnaire-title"
          >Select which ingredients you don't want:</label
        ><br />
        <div class="left">
          <input
            id="c1"
            type="checkbox"
            name="makeUpIngredients"
            value="Vegan"
            required="required"
          />
          <label for="c1">Vegan</label><br />
          <input
            id="c2"
            type="checkbox"
            name="makeUpIngredients"
            value="Nut-free"
          />
          <label for="c2">Nut-free</label><br />
          <input
            id="c3"
            type="checkbox"
            name="makeUpIngredients"
            value="Gluten-free"
          />
          <label for="c3">Gluten-free</label><br />
          <input
            id="c4"
            type="checkbox"
            name="makeUpIngredients"
            value="Cruelty-free"
          />
          <label for="c4">Cruelty-free</label><br />
          <input
            id="c5"
            type="checkbox"
            name="makeUpIngredients"
            value="Silicon-free"
          />
          <label for="c5">Silicon-free</label><br />
          <input
            id="c6"
            type="checkbox"
            name="makeUpIngredients"
            value="Animal-tested"
          />
          <label for="c6">Animal-tested</label><br />
        </div>

        <p>
          <button type="submit" onclick="valthisform()">Show Products</button>
        </p>
      </form>

      <script>
        function valthisform() {
          var okay = false;
          var checkboxes = document.getElementsByName("makeUpIngredients");
          for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked === true) {
              okay = true;
            }
          }

          if (okay === true) {
            for (var i = 0; i < checkboxes.length; i++) {
              checkboxes[i].required = false;
            }
          } else {
            for (var i = 0; i < checkboxes.length; i++) {
              checkboxes[i].required = true;
            }
          }
        }
      </script>
    </div>

    <!-- <br /> -->
    <!-- <button onclick="move()">Prescribe Me</button> -->
    <!-- <div id="myProgress"></div>
    <div id="myBar"></div> -->

    <!-- Progress bar (blanked out currently) / thinking circles -->

    <%- include('partials/footer.ejs') %>
    <script src="../survey.js"></script>
    <script src="../main.js"></script>
  </body>
</html>
