<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../CSS/styles.css" />
    <link rel="stylesheet" href="../CSS/profile.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../main.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile</title>
  </head>
  <body>
    <header>
      <h1>Your Prescription</h1>
    </header>
    <%- include('partials/navBar.ejs') %>
    <div class="white-container">
      <h2><p id="welcome">
      </p></h2>
      <div class="row">
        <div class="column">
          <h3>Hair Care</h3>
          <a class="button" href="/hairCare">Take the Quiz</a>
          <h4>Your recommended hair care product is...</h4>
          <div class="card">
            <img src="../Images/cardleaf.jpg" alt="card" style="width:100%">
            </div>
          <p><a href="/hairCare">Retake the quiz</a></p>
        </div>
        <div class="column">
          <h3>Skin Care</h3>
          <a class="button" href="/skinCare">Take the Quiz</a>
          <h4>Your recommended skin care product is...</h4>
          <div class="card">
            <img src="../Images/cardleaf.jpg" alt="card" style="width:100%">
            </div>
          <p><a href="/skinCare">Retake the quiz</a></p>
        </div>
        <div class="column">
          <h3>Make Up</h3>
          <a class="button" href="/makeUp">Take the Quiz</a>
          <h4>Your recommended make up product is...</h4>
          <div class="card">
            <img src="../Images/cardleaf.jpg" alt="card" style="width:100%">
            </div>
            <p><a href="/makeUp">Retake the quiz</a></p>
          </div>
          <div>
          </div>
            <a id="changePassword" href="/change-password">Change my password</a>
          <br>      
          <a class="button" href="/logout">Log out</a>

          <p>
            Rate Us Before You Leave
          </p>
          <div class="rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
<script>
  function getCookie(cname) {
  const name = cname + "=";
  const decodedCookie = decodeURIComponent(document.cookie);
  const ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}


 function checkCookie() {
  var user=getCookie("username");
  if (user === "" || !user) {
    window.location.href = "/login";
  }

  if (user === "admin") {
    window.location.href = "/admin";
  }
}

checkCookie();

module.exports = {
  profile: getCookie,
};


document.getElementById("welcome").textContent = "Welcome, " + getCookie("username");
</script>

