<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script language="javascript" src="../main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../CSS/styles.css" />

    <title>Skin Care Results</title>
  </head>
  <header><h1>Skin Care Results</h1></header>
  <body>
    <%- include('partials/navBar.ejs') %>

    <script>
      CreateTableFromJSONskin();
    </script>
    <div id="myDataS"></div>

    <button onclick="goBack()">Back to Skin Care</button>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
