<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script language="javascript" src="../survey.js"></script>
    <script language="javascript" src="../main.js"></script>
    <link rel="stylesheet" href="../CSS/styles.css" />

    <title>SkinCare</title>
  </head>
  <header><h1>Skin Care</h1></header>
  <body>
    <%- include('partials/navBar.ejs') %>
    <div class="white-container">
      <form
        id="skinCareIngredients"
        action="/skinCareResults"
        method="GET"
        required="required"
      >
        <label id="questionnaire-title"
          >Select which ingredients you don't want:</label
        ><br />
        <input
          id="c1"
          type="checkbox"
          name="skinIngredients"
          value="Vegan"
        /><label for="c1">Vegan</label><br />
        <input
          id="c2"
          type="checkbox"
          name="skinIngredients"
          value="Nut-free"
        /><label for="c2">Nut-free</label><br />
        <input
          id="c3"
          type="checkbox"
          name="skinIngredients"
          value="Gluten-free"
        /><label for="c3">Gluten-free</label><br />
        <input
          id="c4"
          type="checkbox"
          name="skinIngredients"
          value="Cruelty-free"
        /><label for="c4">Cruelty-free</label><br />
        <input
          id="c5"
          type="checkbox"
          name="skinIngredients"
          value="Silicon-free"
        /><label for="c5">Silicon-free</label><br />
        <p>
          <button type="submit" onclick="valthisform()">Show Products</button>
        </p>
      </form>

      <script>
        function valthisform() {
          var checkboxes = document.getElementsByName("skinIngredients");
          var okay = false;
          for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked === true) {
              okay = true;
            }
          }

          if (okay === true) {
            for (var i = 0; i < checkboxes.length; i++) {
              checkboxes[i].required = false;
            }
          } else {
            for (var i = 0; i < checkboxes.length; i++) {
              checkboxes[i].required = true;
            }
          }
        }
      </script>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
