* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #255f28;
    margin:6px 0 16px 0;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #255f28;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #255f28;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 20px;
    background: rgb(255, 255, 255, 0.7);
    padding: 30px;
    color:#255f28;
    text-align: center;
    max-width: 600px;
    margin: auto;
  margin-top: 20px;
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }