/* CSS for screens larger than 720px */

:root {
  --green: #255f28;
}


.mainContent {
  display: flex;
}

main {
  flex-basis: 70%;
}

.sideBar {
  background: rgb(255, 255, 255, 0.7);
  color: var(--green);
  font-weight: bolder;
  border-radius: 20px;
  flex-basis: 30%;
  margin: 10px;
  margin-top: 150px;
  margin-bottom: 150px;
  padding: 30px 30px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}