/* Style all input fields */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  /* The message box when the user clicks on the password field */
  #message {
    display:none;
    background: rgb(247, 247, 247);
    color: var(--green);
    position: relative;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
  }
  
  #message p {
    padding: 0;
    font-size: 15px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    /* content: "&#10004;"; */
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    /* content: "&#10006;"; */
  }
  .divider-text {
    position: relative;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
  }
  
  .divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
  }
  
  .fb btn {
    background-color: #255f28;
    color: white;
  }
  
  .google btn {
    background-color: #255f28;
    color: white;
  }
  
  .text-center {
    color: #255f28;
    text-decoration: none;
  
  }
  
  .form-group button {
    border: none;
    color: white;
    background-color: #255f28;
    font-weight: bolder;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cardbg-light {
    background-color: white;
    color: #255f28;
  }
  
  .form-group {
    background-color: transparent;
    color: #255f28;
  }
  
  .fbbtn {
    color: #255f28;
    background-color:transparent;
    text-decoration: none;
  }
  
  .googlebtn {
    color: #255f28;
    background-color: transparent;
    text-decoration: none;
  }
  