:root {
  --green: #255f28;
  --background: rgb(255, 255, 255, 0.7);
}

body,
html {
  color: white;
  text-align: center;
  font-family: helvetica;
  background-size: 100%;
  background-image: url("../Images/BgGreen.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flexbox;
  background: rgb(255, 255, 255, 0.7);
  color: var(--green);
  font-weight: bolder;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 55px;
}

form {
  padding: 10px;
  text-align: center;
}

input {
  padding: 10px;
  background-color: white;
  color: white;
  border-radius: 5px;
  margin: 10px;
}

select {
  background-color: white;
  color: var(--green);
}

/* Admin and change password containters */
.white-container {
  border-style: solid;
  border-color: var(--green);
  color: var(--green);
  text-align: center;
  border-radius: 5px;
  background-color: var(--background);
  margin: auto;
  margin-top: 20px;
  max-width: 600px;
  padding: 10px;
}

/* Add a black background color to the top navigation */
.topnav {
  display: flexbox;
  background: rgb(255, 255, 255, 0.7);
  color: var(--green);
  font-weight: bolder;
  overflow: hidden;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: flexbox;
  color: var(--green);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--green);
  color: white;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: var(--green);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.image {
  display: inline-block;
  position: relative;
}

/*Button styling */

button {
  border: none;
  color: white;
  background: var(--green);
  font-weight: bolder;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(76, 175, 80, 0.6);
  color: white;
}

/* Buttons in forms */
.button {
  border: none;
  color: var(--green);
  background: transparent;
  font-weight: bolder;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

/*Sidebar (underneath all other content on smaller screens */
div.sidebar {
  display: flexbox;
  background: rgb(255, 255, 255, 0.7);
  border-radius: 5px;
  height: auto;
  width: auto;
}

/*Home page images */

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 70%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background: rgb(255, 255, 255, 0.9);
  color: var(--green);
  font-weight: bolder;
}

/* Position the "next button" to the right */
.next {
  left: 100%;
  border-radius: 3px 0 0 3px;
}
.prev {
  right: 100%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgb(76, 175, 80, 0.6);
  color: white;
}

/* Dots */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--green);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: white;
}

.styled-table {
  text-align: center;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: var(--green);
}

.styled-table td,
.styled-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.styled-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.styled-table tr:hover {
  background-color: #ddd;
}

.styled-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--green);
  color: white;
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
}
/* Fading animation when image is changed */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Footer styling */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
}

footer {
  padding: 10px 10px;
  text-align: center;
  border-color: var(--green);
  border-radius: 5px;
  border-top: white;
  border-top-width: 20px;
  margin-top: 55px;
  margin-bottom: 55px;
  background: rgb(255, 255, 255, 0.7);
  color: var(--green);
  font-weight: bolder;
}

footer .row {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

footer .row address {
  padding: 15px 0 5px 5px;
  margin-left: auto;
  margin-right: auto;
}

.footerSocialLinks ul {
  display: flex;
  list-style: none;
  padding-left: 5px;
  margin-left: auto;
  margin-right: auto;
}

.footerSocialLinks ul li {
  flex-basis: 40px;
  margin-left: auto;
  margin-right: auto;
}

.footerSocialLinks ul li a i {
  color: var(--green);
  font-size: 1.4rem;
}

.footerLinks {
  display: flex;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap-reverse;
  margin-left: auto;
  margin-right: auto;
}

.footerLinks li:last-child {
  border-right: none;
  margin-left: auto;
  margin-right: auto;
}

.footerLinks li a {
  font-size: 0.8rem;
  width: 100%;
  display: inline-block;
  padding: 2px 5px;
  text-decoration: none;
  color: var(--green);
  margin-left: auto;
  margin-right: auto;
}

.footerLinks li a:hover {
  text-decoration: underline;
}

/* Login page styling */

#login .container #login-row #login-column #login-box {
  margin-top: 150px;
  max-width: 600px;
  height: 320px;
  border: 5px solid var(--green);
  background: var(--background);
  border-radius: 5px;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}

.profile-container {
  background-color: var(--background);
  color: var(--green);
  border-color: var(--green);
  border-style: solid;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  max-width: 600px;
}

/*loading bar for profile choices*/

#myProgress {
  width: 100%;
  background-color: white;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: var(--green);
}

/* tr:nth-child(even) td {
  background: #f2f2f2;
}

table {
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid black;
  text-align: left;
}
table thead {
  background: #ccc;
} */


#questionaire-title {
  font-weight: bold;
}