  <!DOCTYPE html>
  
  <html>

<head>
     <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

    <!-- Top Navigation Menu -->

    <div class="topnav" id="myTopnav">
      <a href="/" class="active">Home</a>
      <a href="/profile">Profile</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <a href="/AboutUs">About Us</a>
      <a href="/ContactUsTutorial">Contact Us</a>
      <a href="javascript:void(0);" class="icon" onclick="openMenu()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    
  </html>